.date{
    height: 50px;
    border-radius: 5px;
}
.booked{
    color: orange;
}
.avail{
    color: green;
}
.warn{
    color: red;
}
.submit{
    width: 100%;
}
.frame{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;

}