.container{
    margin: 50px;
    text-align: center;
}

h2{
    margin:10px;
    padding: 0;
}


.dropdown-group{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 35%;
}



.table{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 25px;
}

.select{
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

.submit{
    box-sizing: border-box;
    height: 35px;
    border-radius: 5px;
    font-weight: 600;
    margin: 5px;
}


table{
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid black;
  }


  th{
      text-align: center;
  }